:root {
  --primary-color: 244, 159, 63;
  --secondary-color: 17, 24, 40;

  --card-primary: 31, 41, 55;
  --card-secondary: 55, 65, 81;

  --text-default: 255, 255, 255;
  --txt-muted: 156, 163, 175;

  --fx-white: 255, 255, 255;
  --fx-dark: 0, 0, 0;
}
